body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EAF6F6;
}

a {
  text-decoration: none;
  margin: 10px 20px;
}
a:hover{
  color:#EAF6F6;
}

h1 {
  font-size: 5.625rem;
  /* 1 em is equal to 16px which is equal to 100% */
  /* When sizing we should use rem instead of em so by this way we will be more specific with our text size*/
  margin: 50px auto 0 auto;
  font-family: 'Great Vibes', cursive;
  color: #5E8B7E;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #5E8B7E;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  color: #A7C4BC;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
p{
  line-height: 2;
}

.TopContainer {
  background-color: #2F5D62;
  position: relative;
  /* this will make everything inside to be relative to TopContainer
  otherwise it will be relative to body tag which is parent*/
  padding-top: 130px;
  padding-bottom: 23px;
  margin-bottom: 2px;
}

.Web {
  text-decoration: underline;
  /* This is where we can use span to select more specific task*/
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 80px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 350px;
}

.top-mountain {
  position: relative;
  top: 27px;
}

.Middle-container {}

.intro{
  width: 50%;
  margin: auto;
}
.profilePhoto {
  width: 200px;
  height: 200px;
}

.webDevPhoto {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cppProgramming {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile {
  width: 50%;
  margin: 100px auto;
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #5E8B7E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2F5D62;
  text-decoration: none;
}

.contact-me {
  margin-top: 80px;
}

.contact-me p {
  padding-bottom: 20px;
}

.Bottom-container {
  margin-top: 100px;
  padding-top: 100px;
  background-color: #A7C4BC;
}

.footer-link {
  position: relative;
  color: #5E8B7E;
  bottom: 37px;
  font-family: 'Montserrat', sans-serif;
}

.copyright {
  position: relative;
  bottom: 20px;
  color: #EAF6F6;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 15px 0;
}
.copyright:hover{
  color: #2F5D62;
}
