body {
  margin: 0;
  color: #40514e;
  text-align: center;
  /* font-family: "Montserrat"; */
  font-family: "Libre Baskerville";
  background-color: #eaf6f6;
}

main {
  background-color: #f1f1e8;
}

article {
  background-color: #f1f1e8;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: medium;
}

a {
  text-decoration: none;
  margin: 10px 20px;
}

a:link {
  color: #5e8b7e;
}

a:visited {
  color: #5e8b7e;
}

/* // улучшить надо ссылки  done */
a:hover {
  color: #eaf6f6;
}

p {
  font-size: 20px;
  margin-bottom: 0;
}

h1 {
  font-size: 5.625rem;
  /* 1 em is equal to 16px which is equal to 100% */
  /* When sizing we should use rem instead of em so by this way we will be more specific with our text size*/
  margin: 0 auto 0 auto;
  padding-top: 50px;
  font-family: "Great Vibes", cursive;
  color: #5e8b7e;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #5e8b7e;
  font-weight: normal;
}

h3 {
  position: relative;
  padding: auto;
  display: inline;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  color: #a7c4bc;
}

p {
  line-height: 2;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.myButton {
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  font-size:1.3rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #5e8b7e;
  background-color:#206a5d ;
  text-align: center;
  border-radius: 11px;
  transition: all 0.2s;
}

.myButton:hover {
  color: #f1f1e8;
  background-color: #bfdcae;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.Menu-bar {
  background-color: #bfdcae;
  padding-top: 40px;
}

.header-link {
  position: relative;
  bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.MainContainer {
  background-color: #f1f1e8;
  position: relative;
  /* this will make everything inside to be relative to TopContainer
    otherwise it will be relative          <p class="copyright">© 2022 Myktybek Sattarov</p> to body tag which is parent*/
  padding-top: 130px;
  padding-bottom: 20px;
  margin-bottom: 2px;
}

.Skills-container {
  background-color: #f1f1e8;
}

.Education-container {
  background-color: #f1f1e8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Main-Place {
  background-color: #f1f1e8;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 80px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 350px;
}

.top-mountain {
  position: relative;
  top: 27px;
}

.Bottom-menu {
  padding-top: 31px;
  background-color: #206a5d;
}

.footer-link {
  position: relative;
  color: #5e8b7e;
  bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.intro {
  width: 50%;
  margin: auto;
}

.profilePhoto {
  width: 200px;
  height: 200px;
}

.webDevPhoto {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cppProgramming {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile {
  width: 50%;
  margin: 0 auto;
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skill-row {
  width: 50%;
  margin: 20px auto 100px auto;
  text-align: left;
}

.skill-hr {
  position: relative;
  margin-top: 50px;
}

.cpp {
  padding-top: 50px;
}

.edu-row {
  width: 50%;
  margin: 20px auto 100px auto;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Bktl {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.Elte {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.edu-hr {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Table {
  margin: auto;
  position: relative;
  padding-left: 140px;
  font-size: 1.4rem;
}

.Feedback-click:hover {
  color: #a7c4bc;
}

.student {
  position: relative;
  margin-left: 20px;
}

.position {
  float: left;
}
